<h1>Employees</h1>
  <%= link_to 'download', employees_path + '.csv', class:"btn btn-outline-secondary" %>

<br>
<% @employees.each do |employee| %>
<b>-------------------------------------</b>
  <p class="fs-7">
  <strong>
      Role:
  </strong>
  <%= employee.class %>
  </p>
  <p class="fs-2">
  <strong>
      Name:
  </strong>
  <%= employee.full_name %>
  </p>

  <%= link_to 'Edit', new_employee_path(@employee), class:"btn btn-primary" %> 
  <%= link_to 'Back', new_employee_path, class:"btn btn-danger" %>
 <p>------   ------</p>
<% end %>

<div class="container">
    <h3> Import data from your pc</h3>
    <%= form_tag import_employees_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag 'import CSV' %>
    <%end%> 
  </div>
  <br>